{% load staticfiles %}
{% load thumbnail %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="description" content="{{ seo.site_description }}">
        <meta name="author" content="{{ about_me_block.full_name }}">
        <meta name="og:title" content="{{ about_me_block.full_name }} &mdash; {{ about_me_block.profession }}">
        <meta name="og:type" content="website">
        <meta name="og:url" content="{{ seo.site_url }}">
        <meta name="og:image" content="{{ seo.site_image.url }}">
        <meta name="og:description" content="{{ seo.site_description }}">
        <link rel="shortcut icon" href="{{ seo.favicon.url }}">
        {% block title %}<title>{{ about_me_block.full_name }} &mdash; {{ about_me_block.profession }}</title>{% endblock %}
        {% stylesheet 'styles' %} {# django-pipeline styles, check settings #}
        <link href="//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        {% block header_styles %}
        {% endblock %}
    {% endblock %}
</head>
<body>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "{{ about_me_block.full_name }}",
  "jobTitle": "{{ about_me_block.profession }}",
  "telephone" : "{{ about_me_block.phone }}",
  "image": "{{ seo.site_image.url }}",
  "description" : "{{ seo.site_description }}",
  "url": "{{ seo.site_url }}",
  "sameAs": [
    {% for record in get_in_touch_block.records.all %}
    "{{ record.link}}",
    {% endfor %}
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ about_me_block.address }}"
  }
}

</script>
{% block page %}
    {% block content %}
    {% endblock %}
{% endblock %}


{% block footer %}
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    {% block copyright %}
                        <!-- Copyright Starts -->
                        <div class="desc {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">
                            © {% now "Y" %}. {{ about_me_block.full_name }}
                        </div>
                        <!-- Copyright Ends -->
                    {% endblock %}
                    <div class="line"></div>
                    <!-- ToTop Starts -->
                    <a href="#"
                       class="scrollup {% if settings.show_animation %}animated{% endif %}"
                       data-animation="fadeInUp" data-animation-delay="300"><i
                            class="fa fa-angle-double-up"></i></a>
                    <!-- ToTop Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.FOOTER -->
    {% javascript 'scripts' %} {# django-pipeline scripts, check settings #}
    {% block footer_scripts %}
    {% endblock %}
{% endblock %}
</body>
