{% extends "main/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block header_styles %}
    <style>
        #myskills {
            {% thumbnail skill_block.background 1920x1080 as img_th_skills %}
            background-image: url({{img_th_skills.url}});
        }

        #process {
            {% thumbnail process_block.background 1920x1080 as img_th_process %}
            background-image: url({{img_th_process.url}});
        }

        #services {
            {% thumbnail service_block.background 1920x1080 as img_th_service %}
            background-image: url({{img_th_service.url}});
        }

        #video {
            {% thumbnail video_block.background 1920x1080 as img_th_video %}
            background-image: url({{img_th_video.url}});
        }

        #awards {
            {% thumbnail awards_block.background 1920x1080 as img_th_awards %}
            background-image: url({{img_th_awards.url}});
        }
    </style>
{% endblock %}

{% block content %}
    <div id="preloader">
        <div class="preloader">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    {% if slider_block.is_active %}
        <!-- SLIDER STARTS ========================================================================= -->
        <section id="slider" class="slider-bg-static">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        {% for slide in slider_block.records.all %}
                            <!-- SLIDE NR. 1-->
                            <li data-transition="fade" data-slotamount="5"
                                data-masterspeed="500">
                                <!-- MAIN IMAGE -->
                                {% thumbnail slide.image 1280x960 as img_th %}
                                {#{{ img_th }}#}
                                <img src="{{ img_th.url }}"
                                     data-bgfit="cover"
                                     data-bgposition="left top"
                                     data-bgrepeat="no-repeat">
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption very_large_text customin customout"
                                     data-x="265"
                                     data-y="0"
                                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="600"
                                     data-start="1000"
                                     data-easing="Back.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     style="z-index: 2">{{ slide.header }}</div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption medium_text sft customout"
                                     data-x="center"
                                     data-y="120"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="600"
                                     data-start="2000"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 4">{{ slide.subheader }}</div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption large_text skewfromleft customout"
                                     data-x="center"
                                     data-y="240"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="600"
                                     data-start="2500"
                                     data-end="5500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 5">
                                    <p class="border">{{ slide.first_slogan }}</p>
                                </div>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption large_text skewfromright customout"
                                     data-x="center"
                                     data-y="240"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="600"
                                     data-start="6500"
                                     data-easing="Power4.easeOut"
                                     data-endspeed="300"
                                     data-endeasing="Power1.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 6">
                                    <p class="border">{{ slide.second_slogan }}</p>
                                </div>
                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption skewfromleftshort customout slider-buttons"
                                     data-x="295"
                                     data-y="435"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="600"
                                     data-start="3000"
                                     data-easing="Back.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="off"
                                     style="z-index: 7"><a href="{{ cv_block.cv.url }}"
                                                           class="btn2"><i
                                        class="fa fa-download"></i> СКАЧАТЬ РЕЗЮМЕ</a></div>
                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption skewfromleftshort customout slider-buttons"
                                     data-x="645"
                                     data-y="435"
                                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                     data-speed="600"
                                     data-start="3500"
                                     data-easing="Back.easeOut"
                                     data-endspeed="500"
                                     data-endeasing="Power4.easeIn"
                                     data-captionhidden="on"
                                     style="z-index: 8"><a href="#about"
                                                           class="btn1"><i
                                        class="fa fa-briefcase"></i> ОБО МНЕ</a></div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </section>
        <!-- /. SLIDER ENDS -->
    {% endif %}
    <!-- NAVIGATION STARTS
        ========================================================================= -->
    <section id="navigation">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse"><span
                            class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span
                            class="icon-bar"></span> <span
                            class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="current"><a href="#slider"
                                               data-toggle="collapse"
                                               data-target=".navbar-collapse">НАВЕРХ</a>
                        </li>
                        <li><a href="#about" data-toggle="collapse"
                               data-target=".navbar-collapse">ОБО МНЕ</a></li>
                        {% if skill_block.is_active %}
                            <li><a href="#myskills" data-toggle="collapse"
                                   data-target=".navbar-collapse">НАВЫКИ</a>
                            </li>
                        {% endif %}
                        {% if education_block.is_active %}
                            <li><a href="#education" data-toggle="collapse"
                                   data-target=".navbar-collapse">ОБРАЗОВАНИЕ</a>
                            </li>
                        {% endif %}
                        {% if process_block.is_active %}
                            <li><a href="#process" data-toggle="collapse"
                                   data-target=".navbar-collapse">ПРОЦЕСС</a>
                            </li>
                        {% endif %}
                        {% if work_experience_block.is_active %}
                            <li><a href="#work-experience"
                                   data-toggle="collapse"
                                   data-target=".navbar-collapse">ОПЫТ
                                РАБОТЫ</a></li>
                        {% endif %}
                        {% if service_block.is_active %}
                            <li><a href="#services" data-toggle="collapse"
                                   data-target=".navbar-collapse">УСЛУГИ</a>
                            </li>
                        {% endif %}
                        {% if portfolio_block.is_active %}
                            <li><a href="#portfolio" data-toggle="collapse"
                                   data-target=".navbar-collapse">ПОРТФОЛИО</a>
                            </li>
                        {% endif %}
                        <li><a href="#contact" data-toggle="collapse"
                               data-target=".navbar-collapse">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </section>
    <!-- /.NAVIGATION -->
    <!-- ABOUT US STARTS
        ========================================================================= -->
    {% if about_me_block.is_active %}
    <section id="about">
        <div class="container">
            <!-- Header Starts -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 section-heading">
                    <div class="heading {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="100">
                        ОБО МНЕ
                    </div>
                    <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                        data-animation="fadeInUp" data-animation-delay="300"><i
                            class="fa fa-briefcase"></i></h1>
                    <div class="description {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeIn"
                         data-animation-delay="400">{{ about_me_block.short_info }}</div>
                </div>
            </div>
            <!-- Header Ends -->
            <!-- Row 1 Starts -->
            <div class="row">
                <!-- Left Column Starts -->
                <div class="col-md-3 personal-info col-left {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInRight" data-animation-delay="300">
                    <div class="line1">ИМЯ<br>
                        <span class="line2">{{ about_me_block.full_name }}</span>
                    </div>
                    <div class="line1">ВОЗРАСТ<br>
                        <span class="line2">{{ about_me_block.birthday }}</span>
                    </div>
                    <div class="line1">МЕСТО РОЖДЕНИЯ<br>
                        <span class="line2">{{ about_me_block.birthplace }}</span>
                    </div>
                    <div class="line1">ХОББИ<br>
                        <span class="line2">{{ about_me_block.hobbies }}</span>
                    </div>
                </div>
                <!-- Left Column Ends -->
                <!-- Middle Column Starts -->
                <div class="col-md-6">
                    <div class="col-md-8 col-md-offset-2 {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="300">
                        <div class="pic owl-carousel" id="my-pic-carousel">
                            {% thumbnail about_me_block.photo 400x400 as img_photo %}
                            <div><img src="{{ img_photo.url }}" class="img-responsive"></div>
                        </div>
                    </div>
                </div>
                <!-- Middle Column Ends -->
                <!-- Right Column Starts -->
                <div class="col-md-3 personal-info col-right {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInLeft" data-animation-delay="300">
                    <div class="line1">АДРЕС<br>
                        <span class="line2">{{ about_me_block.address }}</span>
                    </div>
                    <div class="line1">ТЕЛЕФОН<br>
                        <span class="line2">{{ about_me_block.phone}}</span>
                    </div>
                    <div class="line1">EMAIL<br>
                        <span class="line2">{{ about_me_block.email }}</span>
                    </div>
                    <div class="line1">SKYPE<br>
                        <span class="line2">{{ about_me_block.skype }}</span>
                    </div>
                </div>
                <!-- Right Column Ends -->
            </div>
            <!-- Row 1 Ends -->
            <!-- Row 2 Starts -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                    <div class="intro">{{ about_me_block.long_info }}</div>
                </div>
            </div>
            {% if settings.show_section_buttons %}
                <div>
                    <!-- Row 2 Ends -->
                    <!-- Button Starts -->
                    <div class="link-btn"><a href="#myskills"><i
                            class="fa fa-rocket"></i> МОИ НАВЫКИ</a></div>
                    <!-- Button Ends -->
                </div>
            {% endif %}
        </div>
    </section>
    {% endif %}
    <!-- /.ABOUT -->
    <!-- MY SKILLS STARTS
        ========================================================================= -->
    {% if skill_block.is_active %}
        <section id="myskills" data-speed="10" data-type="background">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">МОИ НАВЫКИ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-rocket"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="300">{{ skill_block.description }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                {% if skill_block.is_active %}
                    <div class="owl-carousel {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeIn" data-animation-delay="300"
                         id="myskills-carousel">
                        {% for record in skill_block.records.all %}
                            <div class="items">
                                <div id="donutchart{{ record.index }}"
                                     data-percent="{{ record.persent }}"></div>
                                <br>
                                {{ record.title }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="300"><a
                            href="#education"><i class="fa fa-book"></i>
                        ОБРАЗОВАНИЕ</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.MY SKILLS -->
    <!-- EDUCATION STARTS
        ========================================================================= -->
    {% if education_block.is_active %}
        <section id="education">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ОБРАЗОВАНИЕ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-book"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="300">{{ education_block.description }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Education Timeline Starts -->
                <div class="education-timeline {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                    {% for record in education_block.records.all %}
                        <!-- Row 1 Starts -->
                        <div class="row education">
                            <div class="col-md-6 col-xs-6">
                                <div class="divider"><i class="fa fa-book"></i>
                                </div>
                                <div class="col-left">
                                    <div class="programe">{{ record.grade }}</div>
                                    <div class="university">
                                        <strong>{{ record.university_name }}</strong><br>
                                        {{ record.country }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-right">
                                    <div class="duration">{{ record.date_period }}</div>
                                    <div class="description">{{ record.description }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 1 Ends -->
                    {% endfor %}
                </div>
                <!-- Education Timeline Ends -->
                <hr>

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn"><a href="#process"><i
                            class="fa fa-cogs"></i> ПРОЦЕСС РАБОТЫ</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.EDUCATION -->
    <!-- PROCESS STARTS
        ========================================================================= -->
    {% if process_block.is_active %}
        <section id="process" data-speed="10" data-type="background">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ПРОЦЕСС РАБОТЫ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-cogs"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="300">{{ process_block.description }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Processes Starts -->
                <div class="row {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                    <!-- Process 1 -->
                    {% for record in process_block.records.all %}
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <div class="items"><i
                                    class="fa {{ record.icon }}"></i><br>
                                {{ record.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Processes Ends -->

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="300"><a
                            href="#work-experience"><i class="fa fa-tags"></i>
                        ОПЫТ РАБОТЫ</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.PROCESS -->
    <!-- WORK EXPERIENCE STARTS
        ========================================================================= -->
    {% if work_experience_block.is_active %}
        <section id="work-experience">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ОПЫТ РАБОТЫ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-tags"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="300">{{ work_experience_block.description }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Education Timeline Starts -->
                <div class="work-experience-timeline {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                {% for record in work_experience_block.records.all %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="row">
                        <!-- Left Column Starts -->
                    {% endif %}
                            <div class="col-md-6 col-xs-6 col-lg-6">
                                <div class="{% cycle 'col-left' 'col-right' %}">
                                    <div class="arrow"></div>
                                    <div class="company-name">{{ record.company_name }}</div>
                                    <div class="designation">{{ record.position }}</div>
                                    <div class="duration">{{ record.date_period }}</div>
                                    <div class="description">{{ record.description }}</div>
                                    <div class="url"><a
                                            href="#">{{ record.company_url }}</a>
                                    </div>
                                </div>
                            </div>
                        <!-- Left Column Ends -->
                    {% if forloop.counter|divisibleby:2 %}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                <!-- Education Timeline Ends -->
                <hr>

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn"><a href="#services"><i
                            class="fa fa-heart"></i> УСЛУГИ</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.WORK EXPERIENCE -->
    <!-- SERVICES STARTS
        ========================================================================= -->
    {% if service_block.is_active %}
        <section id="services" data-speed="10" data-type="background">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">УСЛУГИ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-heart"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="300">{{ service_block.description }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Services Carousel Starts -->
                <div class="owl-carousel {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300"
                     id="services-carousel">
                    <!-- Services 1 Starts -->
                    {% for record in service_block.records.all %}
                        <div class="items">
                            <div class="icon"><i
                                    class="fa {{ record.icon }}"></i></div>
                            <div class="description">{{ record.description }}</div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Services Carousel Starts -->

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="300"><a
                            href="#portfolio"><i class="fa fa-thumbs-up"></i>
                        ПОРТФОЛИО</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.SERVICES -->
    <!-- PORTFOLIO STARTS
        ========================================================================= -->
    {% if portfolio_block.is_active %}
        <section id="portfolio">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ПОРТФОЛИО
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-thumbs-up"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="300">{{ portfolio_block.description }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Portfolio Nav Starts -->
                <div class="row {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                    <div class="col-md-12">
                        <div id="options">
                            <ul id="filters" class="option-set clearfix"
                                data-option-key="filter">
                                <li><a href="#filter" data-option-value="*"
                                       class="selected">ВСЕ</a></li>
                                {% for record in portfolio_types %}
                                    <li><a href="#filter"
                                           data-option-value=".{{ record|cut:" " }}">{{ record }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Nav Ends -->
            <!-- AJAX Portfolio Details -->
            <div class="portfolio-detail"></div>
            <!-- AJAX Portfolio Details -->
            <!-- Portfolio Thumbs Starts -->
            <div class="container">
                <div class="row {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300"
                     id="container-thumbs">
                    <!-- Portfolio Item 1 Starts -->
                    {% for record in portfolio_block.records.all %}
                        <div class="col-xs-12 col-sm-6 col-md-3 items
                        {% for pt in record.portfolio_type.all %}
                            {{ pt|cut:" " }}
                        {% endfor %}
                    ">
                            <div class="" data-project="{{ record.url }}">
                                <a href="{{ record.url }}" class="{% if not record.url %}no-follow{% endif %}"
                                   target="_blank">
                                   {% thumbnail record.image 400x400 as img_portfolio %}
                                    <img src="{{ img_portfolio.url }}"
                                         class="img-responsive">
                                    <div class="heading">{{ record.header }}</div>
                                    <div class="category">{{ record.portfolio_type.all|join:", " }}</div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Portfolio Thumbs Ends -->

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn"><a href="#video"><i
                            class="fa fa-play-circle-o"></i> ВИДЕО</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.PORTFOLIO -->
    <!-- VIDEO STARTS
        ========================================================================= -->
    {% if video_block.is_active %}
        <section id="video" data-speed="10" data-type="background">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ВИДЕО
                        </div>
                        {#<div class="description {% if settings.show_animation %}animated{% endif %}" data-animation="fadeIn" data-animation-delay="300">HTML5 / SELF HOSTED VIDEO</div>#}
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Contents Starts -->
                <div class="row {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                    <div class="col-md-12">
                        {% if video_block.video_link %}
                            <div class="play"><a
                                    href="http://vimeo.com/80629469"
                                    data-remote="{{ video_block.video.url }}"
                                    data-toggle="lightbox"
                                    data-gallery="mixedgallery"
                                    data-title="Pellentesque habitant morbi"
                                    data-footer="Aliquam erat volutpat"> <i
                                    class="fa fa-play-circle-o"></i></a></div>
                        {% endif %}
                        {% if get_in_touch_block.sugnature %}
                            {% thumbnail get_in_touch_block.sugnature 400x400 as img_signature %}
                            <div class="signature"><img
                                    src="{{ img_signature.url }}"
                                    style="max-width:100%">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Contents Ends -->
            <!-- Video Playing in background Starts -->
            <div id="my-video">
                <video autoplay loop controls muted>
                    <source src="{{ video_block.video.url }}" type="video/mp4">
                </video>
            </div>
            <!-- Video Playing in background Ends -->
        </section>
    {% endif %}
    <!-- /.VIDEO -->
    <!-- TESTIMONIALS STARTS
        ========================================================================= -->
    {% if testimonials_block.is_active %}
        <section id="testimonials">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">РЕКОМЕНДАЦИИ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="300"><i
                                class="fa fa-quote-left"></i></h1>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Testimonial Carousel Starts -->
                <div class="row {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="owl-carousel" id="testimonials-carousel">
                            <!-- Item 1 Starts-->
                            {% for record in testimonials_block.records.all %}
                                <div class="items">
                                    <div class="description">{{ record.text | safe }}</div>
                                    <div class="emp-name">- {{ record.name }}
                                        -
                                    </div>
                                    <div class="company-name">{{ record.company_name }}</div>
                                </div>
                            {% endfor %}
                            <!-- Item 1 Ends-->
                        </div>
                    </div>
                </div>
                <!-- Testimonial Carousel Ends -->

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn"><a href="#awards"><i
                            class="fa fa-shield"></i> ДОСТИЖЕНИЯ</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.TESTIMONIALS -->
    <!-- AWARDS STARTS
        ========================================================================= -->
    {% if awards_block.is_active %}
        <section id="awards" data-speed="10" data-type="background">
            <div class="container">
                <!-- Header Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ДОСТИЖЕНИЯ и СЕРТИФИКАТЫ
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="700"><i
                                class="fa fa-shield"></i></h1>
                        <div class="description {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeIn"
                             data-animation-delay="1200">{{ awards_block.description | safe }}</div>
                    </div>
                </div>
                <!-- Header Ends -->
                <!-- Awards Carousel Starts -->
                <div class="owl-carousel {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="300"
                     id="awards-carousel">
                    <!-- Item 1 Starts -->
                    {% for record in awards_block.records.all %}
                        <div class="items">
                            <div class="icon"><i class="fa fa-shield"></i></div>
                            <div class="title">{{ record.title }}</div>
                            <div class="companyname">{{ record.company_name }}</div>
                            <div class="year">{{ record.date }}</div>
                        </div>
                    {% endfor %}
                    <!-- Item 1 Ends -->
                </div>
                <!-- Awards Carousel Ends -->

                {% if settings.show_section_buttons %}
                    <!-- Button Starts -->
                    <div class="link-btn {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="300"><a
                            href="#contact"><i class="fa fa-map-marker"></i>
                        КОНТАКТЫ</a></div>
                    <!-- Button Ends -->
                {% endif %}
            </div>
        </section>
    {% endif %}
    <!-- /.AWARDS -->
    <!-- DOWNLOAD CV STARTS
    {% if cv_block.is_active %}
        ========================================================================= -->
    <section id="download-cv">
        <div class="container">
            <div class="row">
                <!-- Description Starts -->
                <div class="col-md-8 {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInLeft" data-animation-delay="200">
                    <div class="description">{{ cv_block.description }}</div>
                </div>
                <!-- Description Ends -->
                <!-- Download CV Button Starts -->
                <div class="col-md-4 {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInRight" data-animation-delay="300">
                    <div class="link-btn-2"><a href="{{ cv_block.cv.url }}"><i
                            class="fa fa-download"></i> РЕЗЮМЕ</a></div>
                </div>
                <!-- Download CV Button Ends -->
            </div>
        </div>
    </section>
    {% endif %}
    <!-- /.DOWNLOAD CV -->
    <!-- CONTACT STARTS
        ========================================================================= -->
    {% if get_in_touch_block.is_active %}
    <section id="contact">
        <div class="container">
            <!-- Header Starts -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 section-heading">
                    <div class="heading {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="200">
                        КОНТАКТЫ
                    </div>
                    <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                        data-animation="fadeInUp" data-animation-delay="300"><i
                            class="fa fa-map-marker"></i></h1>
                </div>
            </div>
            <!-- Header Ends -->
            <!-- Contact Info Starts -->
            <div class="row contact-info {% if settings.show_animation %}animated{% endif %}"
                 data-animation="fadeInUp" data-animation-delay="300">
                <div class="col-md-12">
                    <div class="address">{{ about_me_block.address | safe }}</div>
                    <div class="phone">{{ about_me_block.phone }}</div>
                    <div class="email">{{ about_me_block.email }}</div>
                    <div class="web">{{ about_me_block.skype }}</div>
                </div>
            </div>
            <!-- Contact Info Ends -->
            <hr>
            <!-- Contact Form Starts -->
            <div class="contact-form">
                <!-- Heading Starts -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 section-heading">
                        <div class="heading {% if settings.show_animation %}animated{% endif %}"
                             data-animation="fadeInUp"
                             data-animation-delay="200">ЕСТЬ ВОПРОСЫ? НАПИШИТЕ!
                        </div>
                        <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                            data-animation="fadeInUp"
                            data-animation-delay="700"><i
                                class="fa fa-envelope"></i></h1>
                    </div>
                </div>
                <!-- Heading Ends -->
                <!-- Form Starts -->
                <div class="row form {% if settings.show_animation %}animated{% endif %}"
                     data-animation="fadeInUp" data-animation-delay="1200">
                    <div class="col-md-6 col-md-offset-3">
                        <form action='{% url 'feedback' %}' method='post'
                              name='ContactForm' id='ContactForm'>
                            <div class="input-group"><span
                                    class="input-group-addon">@</span>
                                <input type="text" name="name"
                                       class="form-control"
                                       placeholder="Имя *">
                            </div>
                            <div class="input-group"><span
                                    class="input-group-addon">@</span>
                                <input type="text" name="email"
                                       class="form-control"
                                       placeholder="Email *">
                            </div>
                            <div class="input-group"><span
                                    class="input-group-addon">@</span>
                                <input type="text" name="website"
                                       class="form-control"
                                       placeholder="Тема">
                            </div>
                            <div class="input-group"><span
                                    class="input-group-addon">@</span>
                                <textarea name="comment" class="form-control"
                                          placeholder="Сообщение *"
                                          rows="4"></textarea>
                            </div>
                            <div class="input-group form-buttons"> <span
                                    class="input-group-btn">
                                    <button class="btn btn-default"
                                            type='submit' value='Submit'
                                            name='submitf' id="submitf">ОТПРАВИТЬ</button>
                                    </span>
                            </div>
                            <div id='message_post'></div>
                        </form>
                    </div>
                </div>
                <!-- Form Ends -->
            </div>
            <!-- Contact Form Ends -->
        </div>
    </section>
    {% endif %}
    <!-- /.CONTACT -->
    <!-- SOCIAL MEDIA STARTS
        ========================================================================= -->
    <section id="social-media">
        <div class="container">
            <!-- Header Starts -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 section-heading">
                    <div class="heading {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeInUp" data-animation-delay="200">
                        СВЯЖИТЕСЬ СО МНОЙ
                    </div>
                    <h1 class="icon-line {% if settings.show_animation %}animated{% endif %}"
                        data-animation="fadeInUp" data-animation-delay="300"><i
                            class="fa fa-comments"></i></h1>
                    <div class="description {% if settings.show_animation %}animated{% endif %}"
                         data-animation="fadeIn"
                         data-animation-delay="300">{{ get_in_touch_block.description }}</div>
                </div>
            </div>
            <!-- Header Ends -->
            <!-- Social Icons Starts -->
            <div class="row {% if settings.show_animation %}animated{% endif %}"
                 data-animation="fadeInUp" data-animation-delay="300">
                <div class="col-md-12 social-icons">
                    <ul>
                        {% for record in get_in_touch_block.records.all %}
                            <li><a href="{{ record.link }}"
                                   target="_blank"><i
                                    class="fa {{ record.get_icon }}"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Social Icons Ends -->
        </div>
    </section>
    <!-- /.SOCIAL MEDIA -->
{% endblock %}

{% block footer_scripts %}
    <!-- Animation -->
    <script type="text/javascript"
            src="{% static 'main/js/animation/jquery.appear.js' %}"></script>
    <!-- AJAX Contact Form -->
    <script type="text/javascript"
            src="{% static 'main/js/contact/contact-form.js' %}"></script>
    <!-- Lightbox -->
    <script src="{% static 'main/lightbox/ekko-lightbox.js' %}"></script>
    <!-- Isotope -->
    <script src="{% static 'main/js/isotope/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'main/js/isotope/custom-isotope.js' %}"></script>
    <!-- Slider Revolution 4.x Scripts -->
    <script type="text/javascript"
            src="{% static 'main/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/rs-plugin/js/jquery.themepunch.revolution.js' %}"></script>
    <script>
            var revapi;
            		jQuery(document).ready(function() {
            
            			   revapi = jQuery('.tp-banner').revolution(
            				{
            					delay:15000,
            					startwidth:1170,
            					startheight:500,
            					hideThumbs:10,
            					fullWidth:"off",
            					fullScreen:"on",
            					fullScreenOffsetContainer: "",
            					hideCaptionAtLimit:400            					
            				});
                            $('.no-follow').on('click', function(e){
                                e.preventDefault();
                            });
            		});	//ready	

    </script>
    <!-- Owl Carousel -->
    <script src="{% static 'main/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'main/js/custom.js' %}"></script>
    <!-- Parallex -->
    <script src="{% static 'main/js/parallex/script.js' %}"></script>
    <!-- ScrollTo -->
    <script src="{% static 'main/js/nav/jquery.scrollTo.js' %}"></script>
    <script src="{% static 'main/js/nav/jquery.nav.js' %}"></script>
    <!-- Sticky -->
    <script type="text/javascript"
            src="{% static 'main/js/sticky/jquery.sticky.js' %}"></script>
    <!-- Donut Chart -->
    <script type="text/javascript"
            src="{% static 'main/js/progress-bars/jquery.donutchart.js' %}"></script>
    <script>
            {% for record in skill_block.records.all %}
                $("#donutchart{{ record.index }}").donutchart("animate");
            {% endfor %}
    </script>
    <!-- Retina -->
    <script type="text/javascript"
            src="{% static 'main/js/retina/retina.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/jquery.fitvids.js' %}"></script>
{% endblock %}

    
